
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e43a3a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}


.btn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.form-container {
    margin-top: 20px;
}
